main 
{  
    display: grid;
    height: 100vh;
    grid-gap: 12px;
    
    grid-template-areas: 
    "header"
    "nav"
    "article"
    "aside"
    "footer";
}

main > *
{
    background-color: chocolate;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/*RESPONSIVE*/
@media (min-width: 500px)
{
    main
    {
        grid-template-areas: 
        "header     header      header"
        "nav            nav         aside"
        "article        article     aside"
        "footer         footer      footer";

       grid-template-columns: 2fr 2fr 1fr;
       grid-template-rows: 2fr 1fr 5fr 1fr;
    }
}

header
{
    grid-area: header;
    font-size: 50px;
}

nav
{
    grid-area: nav;
}

article
{
    grid-area: article;
}

aside
{
    grid-area: aside;
}

footer, img
{
    grid-area: footer;
    font-size: 20px;
}